.header,.logo{position:relative}.profile-logo img,a{text-decoration:none}.copyright,.summary-hours a,.summary-module .summary-address span{white-space:nowrap}.has-images .menu-item-name+.business-bio,.has-images .menu-item-name+.business-info-address,.has-images .menu-item-name+.menu-item-description,.menu-item-name{text-overflow:ellipsis}.has-images .business-bio,.has-images .business-info-address,.has-images .menu-item-description,.has-images .menu-item-variations,.logo h1,.menu-item-name,.profile-summary address,.summary-module,.swipe .profile-image-wrapper{overflow:hidden}.menu-category:after,.module-list-with-image li:after,.module-list:after,.profile-content:after,.profile-logo:after,body:after{clear:both}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,td,th{text-align:left;font-weight:400;vertical-align:middle}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}.logo:after,.profile-content>.profile-image:before,body:after,body:before{content:""}a img{border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-bold.eot);src:url(/fonts/sqmarket-bold.eot?#iefix) format("eot"),url(/fonts/sqmarket-bold.woff) format("woff"),url(/fonts/sqmarket-bold.ttf) format("truetype");font-weight:500;font-style:normal}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-bold.eot);src:url(/fonts/sqmarket-bold.eot?#iefix) format("eot"),url(/fonts/sqmarket-bold.woff) format("woff"),url(/fonts/sqmarket-bold.ttf) format("truetype");font-weight:700;font-style:normal}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-bolditalic.eot);src:url(/fonts/sqmarket-bolditalic.eot?#iefix) format("eot"),url(/fonts/sqmarket-bolditalic.woff) format("woff"),url(/fonts/sqmarket-bolditalic.ttf) format("truetype");font-weight:500;font-style:italic}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-bolditalic.eot);src:url(/fonts/sqmarket-bolditalic.eot?#iefix) format("eot"),url(/fonts/sqmarket-bolditalic.woff) format("woff"),url(/fonts/sqmarket-bolditalic.ttf) format("truetype");font-weight:700;font-style:italic}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-light.eot);src:url(/fonts/sqmarket-light.eot?#iefix) format("eot"),url(/fonts/sqmarket-light.woff) format("woff"),url(/fonts/sqmarket-light.ttf) format("truetype");font-weight:200;font-style:normal}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-lightitalic.eot);src:url(/fonts/sqmarket-lightitalic.eot?#iefix) format("eot"),url(/fonts/sqmarket-lightitalic.woff) format("woff"),url(/fonts/sqmarket-lightitalic.ttf) format("truetype");font-weight:200;font-style:italic}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-medium.eot);src:url(/fonts/sqmarket-medium.eot?#iefix) format("eot"),url(/fonts/sqmarket-medium.woff) format("woff"),url(/fonts/sqmarket-medium.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-mediumitalic.eot);src:url(/fonts/sqmarket-mediumitalic.eot?#iefix) format("eot"),url(/fonts/sqmarket-mediumitalic.woff) format("woff"),url(/fonts/sqmarket-mediumitalic.ttf) format("truetype");font-weight:400;font-style:italic}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-regular.eot);src:url(/fonts/sqmarket-regular.eot?#iefix) format("eot"),url(/fonts/sqmarket-regular.woff) format("woff"),url(/fonts/sqmarket-regular.ttf) format("truetype");font-weight:300;font-style:normal}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-regular.eot);src:url(/fonts/sqmarket-regular.eot?#iefix) format("eot"),url(/fonts/sqmarket-regular.woff) format("woff"),url(/fonts/sqmarket-regular.ttf) format("truetype");font-weight:400;font-style:normal}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-regularitalic.eot);src:url(/fonts/sqmarket-regularitalic.eot?#iefix) format("eot"),url(/fonts/sqmarket-regularitalic.woff) format("woff"),url(/fonts/sqmarket-regularitalic.ttf) format("truetype");font-weight:300;font-style:italic}@font-face{font-family:SQMarket;src:url(/fonts/sqmarket-regularitalic.eot);src:url(/fonts/sqmarket-regularitalic.eot?#iefix) format("eot"),url(/fonts/sqmarket-regularitalic.woff) format("woff"),url(/fonts/sqmarket-regularitalic.ttf) format("truetype");font-weight:400;font-style:italic}.directory-icons-sprite,.focus .search-field:before,.full .search-location-button,.full .search-location-button.location-expanded:focus,.full .search-location-button.location-expanded:hover,.full .search-location-button.location-on,.half .search-location-button,.half .search-location-button:focus,.half .search-location-button:hover,.icon-left-arrow,.icon-mobile-merchant,.icon-right-arrow,.icon-square-footer,.logo h1,.logo:after,.navigation-picture,.navigation-picture:active,.navigation-picture:focus,.navigation-picture:hover,.search-field:before,.search-swap-button{background:url(/assets/sprites/directory-icons-sprite.png) no-repeat}.icon-facebook,.icon-image-next,.icon-image-previous,.icon-twitter,.profile-icons-sprite,.profile-image-dot,.profile-image-dot.current,.profile-image-dot:focus,.profile-image-dot:hover,.reward-cash:before,.reward-percent:before,.reward-punch-card:before{background:url(/assets/sprites/profile-icons-sprite.png) no-repeat}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{line-height:1;background:#f4f5f6;height:100%;min-width:320px}body{background:#fff;color:#2d3c48;font:14px SQMarket,"Helvetica Neue",sans-serif;line-height:20px;width:100%;-webkit-font-smoothing:antialiased}body:after,body:before{display:table}body:after{display:none}body.modal{overflow-y:hidden}a{color:#3e8cb7}button,input,textarea{font:inherit}p{margin:5px 0 0}.header{background:#f8f8f8;-webkit-box-shadow:0 1px rgba(45,60,72,.1);-moz-box-shadow:0 1px rgba(45,60,72,.1);box-shadow:0 1px rgba(45,60,72,.1);padding:10px;width:100%;z-index:2}.logo{height:30px;vertical-align:top;width:30px}.logo:after{background-position:0 0;height:26px;width:84px;position:absolute;left:38px;top:6px}.logo h1{background-position:0 -116px;width:30px;height:30px;text-indent:-99999em}.wrapper{font-size:1.14286em;line-height:1.25em;background-position:center top;background-repeat:repeat-y;height:100%;margin:0 auto;min-height:511px}.footer{background:#f4f5f6;border-top:1px solid #eff0f1;width:100%}.footer-navigation{color:#b0b8c1;margin:0 auto;padding-top:1.35714em;text-align:center}.icon-square-footer{background-position:0 -146px;height:23px;width:23px;display:inline-block;margin-bottom:.35714em;position:relative}.icon-facebook,.icon-gplus,.icon-twitter{height:40px;width:40px}.footer-navigation-item{display:inline-block;margin-left:16px;position:relative}.footer-navigation-item:before{position:absolute;left:-12px}.footer-navigation-item:first-child{margin-left:0}.footer-navigation-item a{color:#b0b8c1;-webkit-transition:color .3s ease;-moz-transition:color .3s ease;-o-transition:color .3s ease;transition:color .3s ease}.footer-navigation-item a:hover{color:#3e8cb7}.hidden{display:none;border:0}.icon-facebook,.icon-gplus,.icon-twitter,.logo h1{display:inline-block;vertical-align:middle}::-moz-selection{background:#cdd0d4;text-shadow:none}::selection{background:#cdd0d4;text-shadow:none}@-ms-viewport{width:device-width}@-o-viewport{width:device-width}@viewport{width:device-width}.homepage-section-name,.menu-category-name,.module-name{font-size:1.57143em;line-height:1.18182em;color:#2d3c48;font-weight:300;position:relative;left:-1px}.business-bio,.business-info-address,.menu-item-description,.summary-phone{color:#959ba2}.icon-twitter{background-position:0 -42px}.icon-facebook{background-position:0 -82px}.icon-gplus{background:url(/images/gplus.png) no-repeat}.profile-content:after,.profile-content:before,.profile-logo:after,.profile-logo:before{display:table;content:""}.profile{font-size:.875em;line-height:1.42857em}.profile-content{clear:both;position:relative}.profile-masthead{float:left;padding-top:2.85714em;padding-bottom:.92857em;width:100%}.profile-logo{min-height:80px;position:relative}.profile-logo img{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;display:inline-block;height:80px;vertical-align:middle;width:80px}.profile-logo [data-picture]{float:left}.profile-logo-image{float:left;height:80px;margin-bottom:.5em;margin-left:auto;margin-right:auto;width:80px}.profile-name{font-size:2em;line-height:2.57143em;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;box-pack:center;display:-webkit-box;display:-moz-box;display:-ms-box;display:box;font-weight:300;min-height:2.57143em;margin-left:98px;margin-top:.03571em}.profile-name h1{line-height:1.07143em;display:inline-block;vertical-align:middle}.profile-summary{text-align:right}.profile-summary address{text-transform:capitalize}.profile-summary ul{list-style:none;margin:0;padding:0}.profile-summary .address-state{text-transform:uppercase}.summary-module:first-child{margin-top:0}.summary-module a{display:block}.summary-distance{display:inline-block;text-transform:lowercase}.summary-address{display:inline;text-transform:none}.address-city,.address-street{text-transform:capitalize}.address-state{text-transform:uppercase}.profile-image{-webkit-user-select:none;-moz-user-select:none;user-select:none}.merchant-image,.profile-image-wrapper{-webkit-user-select:none;-moz-user-select:none}.profile-image:hover~.profile-image-dots{opacity:1;-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}.profile-content>.profile-image{background-color:#676e75;margin-bottom:2.35714em;overflow:hidden;position:relative;text-align:center;width:100%}.profile-content>.profile-image.swipe{visibility:hidden}.profile-content>.profile-image:before{-webkit-box-shadow:inset 0 0 0 1px rgba(45,60,72,.15);-moz-box-shadow:inset 0 0 0 1px rgba(45,60,72,.15);box-shadow:inset 0 0 0 1px rgba(45,60,72,.15);pointer-events:none;position:absolute;left:0;top:0;z-index:1}.merchant-image,.swipe .profile-image-wrapper{position:relative}.profile-content>.profile-image img{display:block;max-width:100%}.ie .profile-content>.profile-image img{width:100%}.profile-image~.profile-description:before{content:none;display:none}.profile-image-wrapper{line-height:0;display:block;letter-spacing:-.3em;-webkit-transition:-webkit-transform .3s ease;-moz-transition:-moz-transform .3s ease;-o-transition:-o-transform .3s ease;transition:transform .3s ease;user-select:none;white-space:nowrap}.has-images .menu-item:hover .menu-item-name,.has-images .menu-item:hover .menu-item-name+.business-bio,.has-images .menu-item:hover .menu-item-name+.business-info-address,.has-images .menu-item:hover .menu-item-name+.menu-item-description{white-space:normal}.merchant-image{display:inline-block;letter-spacing:normal;user-select:none;width:100%}.swipe .merchant-image{float:left}.merchant-image:first-child:before{content:none;display:none}.menu-navigation-list-item:first-child:before,.merchant-image:before,.profile-description:before{content:""}.merchant-image:before{-webkit-box-shadow:inset 1px 0 rgba(45,60,72,.15);-moz-box-shadow:inset 1px 0 rgba(45,60,72,.15);box-shadow:inset 1px 0 rgba(45,60,72,.15);height:100%;position:absolute;top:0;left:0;width:1px}.profile-image-controls{opacity:0;-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}.profile-image.hover .profile-image-controls,.profile-image:hover .profile-image-controls{opacity:1;-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}.profile-image-dots,.profile-image-dots:hover{-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;-o-transition:opacity .3s ease}.profile-image-pagination{cursor:pointer;position:absolute;top:0;width:61px;z-index:3}.icon-image-next,.icon-image-previous{height:44px;width:25px;position:absolute}.profile-image-next{right:0}.profile-image-previous{left:0}.icon-image-previous{background-position:0 -234px;left:18px}.icon-image-next{background-position:0 -190px;right:18px}.profile-image-dots{letter-spacing:-.3em;margin-top:-4.07143em;opacity:0;pointer-events:none;position:absolute;text-align:center;transition:opacity .3s ease;-webkit-user-select:none;-moz-user-select:none;user-select:none;width:100%}.profile-image-dots:hover{opacity:1;transition:opacity .3s ease}.profile-image-dots li{display:inline-block;letter-spacing:normal}.profile-image-dot{background-position:0 -287px;height:9px;width:9px;cursor:pointer;display:inline-block;margin-left:3px;pointer-events:auto}.profile-image-dot.current,.profile-image-dot:focus,.profile-image-dot:hover{background-position:0 -296px;height:9px;width:9px}.profile-description{padding-bottom:.64286em;text-align:center}.profile-description:before{border-top:1px solid #eff0f1;display:block;margin:0 -5px;padding-top:1.35714em;position:relative}.profile-description p{font-size:1.57143em;line-height:1.45455em;font-weight:300;margin:0 auto}.menu-navigation{margin-top:.5em;margin-bottom:1.28571em;text-align:center}.menu-navigation-list{margin:0 auto}.menu-navigation-list-item{font-size:1.14286em;line-height:1.5em;display:inline-block;margin-left:16px;position:relative}.menu-navigation-list-item:first-child{margin-left:0}.menu-category{position:relative}.menu-category:after,.menu-category:before{content:"";display:table}.menu-category:first-of-type:before,.menu-category:not(:first-of-type):before{border-top:1px solid #eff0f1;display:block;position:relative;content:""}.menu-category:first-of-type:only-child{margin-top:1.64286em}.menu-category:first-of-type:only-child:before{padding-bottom:2.5em}.menu-category:first-of-type:before{margin:0 -5px}.menu-category:only-child{margin-top:-.5em;padding-bottom:.92857em}.menu-category:not(:first-of-type):before{margin:0 -5px;padding-bottom:2.57143em}.menu-category:not(:only-of-type){padding-bottom:.92857em}.menu-category.hide{display:none}.menu-category-list{float:left;width:100%}.menu-category-list:first-of-type{margin-top:-.28571em}.menu-category-list:first-of-type.has-images{margin-top:.71429em}.menu-category-list:last-of-type:not(:only-child){margin-bottom:1.5em}.menu-category-list:last-of-type:not(:only-child).has-images{margin-bottom:1.85714em}.menu-category-list.has-images+.menu-category-list{margin-top:.35714em}.menu-category:only-child .menu-category-list:first-child{margin-top:-1.28571em}.homepage-section-name,.menu-category-name{margin-bottom:.14286em}.menu-item{margin-top:2.14286em;position:relative}.menu-item:hover .menu-item-image img,.menu-item:hover .menu-item-image:before{opacity:.7}.menu-item:hover .has-meta-content img,.menu-item:hover .has-meta-content:before{opacity:0}.menu-item-image:before{-webkit-box-shadow:inset 0 0 0 1px rgba(45,60,72,.15);-moz-box-shadow:inset 0 0 0 1px rgba(45,60,72,.15);box-shadow:inset 0 0 0 1px rgba(45,60,72,.15);content:"";position:absolute;top:46px;width:100%;z-index:1}.menu-item-image img{max-width:100%;position:absolute;top:46px;-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}.menu-item-image.image-error:before{background:url(/assets/public/broken-image.png) center 51% no-repeat #f2f2f2;-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0}.menu-item-info{width:100%}.has-images .menu-item:hover .menu-item-info{height:276px;top:0}.menu-item-name{font-size:1.14286em;line-height:1.25em;margin-top:.07143em;margin-bottom:.07143em;width:100%}.menu-item-price{color:#72b16e;display:block}.has-images .menu-item:hover .menu-item-price,.menu-item-variations .menu-item-price{display:inline-block}.menu-item-price a,.menu-item-price-range,.menu-item-price-range a{color:#72b16e}.menu-item-variations{margin-top:.21429em}.has-images .menu-item:hover .menu-item-variations{display:block;margin-top:0}.menu-item-variations+.business-bio,.menu-item-variations+.business-info-address,.menu-item-variations+.menu-item-description{margin-top:.14286em}.menu-item-variation{color:#959ba2;font-style:italic}.btn-view-full-menu{background:0;border:0;color:#3e8cb7;cursor:pointer;display:block;font-size:14px;position:relative;margin:10px 0;padding:10px 0;text-align:center;width:100%;-webkit-font-smoothing:antialiased}.module-author-name,.module-hours{color:#959ba2}.profile-modules{padding-top:.71429em}.profile-module:before,.profile-modules:before{border-top:1px solid #eff0f1;content:"";display:block;margin:0 -5px;padding-top:2.57143em;position:relative}.profile-module{padding-bottom:2.42857em}.profile-module:first-child:before,.twitter-columns .profile-module:nth-child(2):before{display:none}.module-list-with-image li:after,.module-list-with-image li:before,.module-list:after,.module-list:before{content:"";display:table}.module-name{font-weight:300}.module-list{margin-top:1.5em}.module-list+.module-list{margin-top:0}.module-list-with-description,.module-list-with-image{margin-top:1.71429em}.module-list-with-description li:not(:last-child){margin-bottom:1.35714em}.module-list-with-image li{margin-bottom:.35714em}.module-thumbnail{float:left;margin:0 10px 10px 0}.module-column:last-child{text-align:right;white-space:nowrap}.module-column time{display:block}.module-hours-today{color:#2d3c48}.module-social{margin-top:.42857em;margin-bottom:.35714em}.module-social a:first-child{margin-right:6px}.twitter-columns .module-twitter{padding-top:0}.twitter-timeline{margin-top:1.28571em}@-moz-document url-prefix(){.profile-name{display:block}}.copyright{padding-bottom:10px}@media only screen and (max-width:29.9375em){body{-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}body:after{content:"xsmall"}.header{display:table}.logo{display:table-cell;padding-right:15px}.logo:after{display:none}.wrapper{max-width:276px;padding:0;margin-left:auto;margin-right:auto}.profile-masthead,.profile-module{padding-top:1.42857em}.wrapper:after{content:"";display:table;clear:both}.footer-navigation{width:19.78571em}.profile-module,.summary-module{width:100%;margin-right:37.03704%}.profile-module{float:left;display:inline}.profile-logo-image{float:none;margin-top:.07143em;margin-bottom:1.21429em}.profile-name{line-height:0;margin-left:0;min-height:0;text-align:center}.profile-name h1{vertical-align:bottom}.profile-summary{margin-top:.07143em;text-align:left}.profile-summary address p{display:inline-block}.summary-module{float:left;display:inline;margin-top:.14286em;text-align:center}.summary-module:first-child{margin-top:0}.summary-locality{display:none}.summary-distance{color:#959ba2;display:block;pointer-events:none}.menu-item-image img,.menu-item-image:before,.menu-item-price-range,.profile-image-pagination,.summary-address .separator{display:none}.profile-content>.profile-image{min-height:135px;margin-top:1.28571em;margin-bottom:1.21429em}.profile-content>.profile-image:before{height:136px;width:276px}.profile-image-dots{margin-top:-.85714em;margin-bottom:.07143em;margin-left:0;opacity:1;position:relative;left:0}.profile-image-dot.current,.profile-image-dot:focus,.profile-image-dot:hover{background:url(/assets/sprites/profile-icons-hidpi-sprite.png) 0 -278px no-repeat;background-size:42px auto;height:9px;width:9px}.has-images .business-bio,.has-images .business-info-address,.has-images .menu-item-description,.has-images .menu-item-name+.business-bio,.has-images .menu-item-name+.business-info-address,.has-images .menu-item-name+.menu-item-description,.has-images .menu-item:hover .menu-item-info,.has-images .menu-item:hover .menu-item-name+.business-bio,.has-images .menu-item:hover .menu-item-name+.business-info-address,.has-images .menu-item:hover .menu-item-name+.menu-item-description{height:auto}.profile-description{padding-bottom:.67857em}.profile-description p{width:100%;font-size:1.14286em;line-height:1.5em}.profile-menu{margin-top:.64286em}.menu-navigation{margin-top:-.07143em}.menu-navigation-list{width:100%}.menu-navigation-list-item{font-size:1em;line-height:1.57143em}.menu-category:first-of-type:only-child:before{top:0}.menu-category-list:first-of-type.has-images{margin-top:.5em}.homepage-section-name,.menu-category-name{margin-bottom:.14286em}.menu-item{margin-top:1.42857em}.menu-item-info{min-height:21px}.has-images .menu-item-info{position:relative}.has-images .menu-item-name+.business-bio,.has-images .menu-item-name+.business-info-address,.has-images .menu-item-name+.menu-item-description{white-space:normal}.has-images .menu-item:hover .menu-item-variations{margin-top:.21429em}.profile-module{padding-bottom:1em}.profile-module:first-child{padding-top:1.28571em}.profile-module:last-child{padding-bottom:2.5em}.module-column{width:42.1875%;float:left;margin-right:15.625%;display:inline}.module-column:nth-child(even){float:right;margin-right:0}.module-hours .module-column:first-of-type{width:26.73267%;float:left;margin-right:9.90099%;display:inline}.module-hours .module-column:last-of-type{width:63.36634%;float:left;margin-right:9.90099%;display:inline}.module-hours .module-column:last-of-type:last-child{float:right;margin-right:0}.twitter-columns .module-twitter{min-height:673px;min-width:276px}}@media screen and (min-width:30em) and (max-width:37.4375em){.business:nth-child(2n+1),.columns-3 .profile-module:nth-child(odd),.menu-item:nth-child(2n+1){clear:both}body{-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}body:after{content:"small"}.header{display:table}.logo{display:table-cell;padding-right:15px}.logo:after{display:none}.wrapper{max-width:424px;padding:0;margin-left:auto;margin-right:auto}.wrapper:after{content:"";display:table;clear:both}.footer-navigation{width:30.35714em}.business,.menu-item{width:47.64151%;float:left;margin-right:4.71698%;display:inline}.has-images .business,.has-images .menu-item{margin-top:2.5em}.business:nth-child(2n),.menu-item:nth-child(2n){float:right;margin-right:0}.profile-module{width:100%;float:left;margin-right:22.22222%;display:inline}.profile-module:nth-child(even){float:right;margin-right:0}.twitter-columns .profile-module{width:100%;float:left;margin-right:22.22222%;display:inline}.profile-masthead{padding-top:1.42857em}.profile-logo-image{float:none;margin-top:.07143em;margin-bottom:1.21429em}.profile-name{margin-left:0;text-align:center;line-height:0;min-height:0}.profile-name h1{vertical-align:bottom}.profile-summary{margin-top:.07143em;text-align:left}.profile-summary address p{display:inline-block}.summary-module{width:100%;float:left;margin-right:37.03704%;display:inline;margin-top:.14286em;text-align:center}.summary-module:first-child{margin-top:0}.summary-locality{display:none}.summary-distance{color:#959ba2;display:block;pointer-events:none}.has-images .menu-item-variations,.profile-image-pagination,.summary-address .separator{display:none}.profile-content>.profile-image{min-height:208px;margin-top:1.28571em;margin-bottom:1.21429em}.profile-content>.profile-image:before{height:208px;width:424px}.profile-image-dots{margin-top:-.85714em;margin-bottom:.07143em;margin-left:0;opacity:1;position:relative;left:0}.profile-image-dot.current,.profile-image-dot:focus,.profile-image-dot:hover{background:url(/assets/sprites/profile-icons-hidpi-sprite.png) 0 -278px no-repeat;background-size:42px auto;height:9px;width:9px}.profile-description{padding-bottom:.67857em}.profile-description:before{padding-top:2.5em}.profile-description p{width:100%;font-size:1.14286em;line-height:1.5em}.profile-menu{margin-top:.64286em}.menu-navigation{margin-top:-.14286em}.menu-navigation-list{width:100%}.menu-navigation-list-item{font-size:1em;line-height:1.57143em}.menu-category:first-of-type:only-child:before{top:-1px}.has-images .menu-item{height:249px;margin-top:2.48571em}.has-images .menu-item:nth-child(-n+2){margin-top:1.21429em}.menu-item-image:before{height:202px}.menu-item-info{min-height:40px}.has-images .menu-item-info{position:absolute}.has-images .menu-item:hover .menu-item-info.has-no-meta-content{height:43px;overflow:hidden}.menu-item-name{white-space:nowrap}.has-images .menu-item-name+.business-bio,.has-images .menu-item-name+.business-info-address,.has-images .menu-item-name+.menu-item-description{height:20px;white-space:nowrap}.has-images .business-bio,.has-images .business-info-address,.has-images .menu-item-description,.has-images .menu-item:hover .menu-item-name+.business-bio,.has-images .menu-item:hover .menu-item-name+.business-info-address,.has-images .menu-item:hover .menu-item-name+.menu-item-description{height:202px}.btn-view-full-menu{padding-top:2.71429em}.profile-module{padding-top:1.42857em;padding-bottom:1em}.profile-module:first-child{padding-top:0}.profile-module:last-child{padding-bottom:2.5em}.module-column:first-child{width:27.27273%;float:left;margin-right:9.09091%;display:inline}.module-column:last-child{width:63.63636%;float:right;margin-right:0;#margin-left:-1em;display:inline}.twitter-columns .module-twitter{min-height:655px;min-width:424px}}@media screen and (min-width:37.5em) and (max-width:47.9375em){body:after{content:"medium"}.logo{display:inline-block}.wrapper{max-width:572px;padding-left:0;padding-right:0;margin-left:auto;margin-right:auto}.wrapper:after{content:"";display:table;clear:both}.footer-navigation{width:40.85714em}.business,.menu-item{width:48.25175%;float:left;margin-right:3.4965%;display:inline}.has-images .business,.has-images .menu-item{margin-top:2.5em}.business:nth-child(2n),.menu-item:nth-child(2n){float:right;margin-right:0}.business:nth-child(2n+1),.menu-item:nth-child(2n+1){clear:both}.columns-1 .profile-module{width:100%;float:left;margin-right:16%;display:inline}.columns-1 .profile-module:nth-child(1n){float:right;margin-right:0}.columns-2 .profile-module{width:46.42857%;float:left;margin-right:7.14286%;display:inline}.columns-2 .profile-module:nth-child(even){float:right;margin-right:0}.columns-3 .profile-module{width:46.42857%;float:left;margin-right:7.14286%;display:inline}.columns-3 .profile-module:nth-child(even){float:right;margin-right:0}.columns-3 .profile-module .reward-first-visit,.columns-3 .profile-module .reward-punch-card{width:46.42857%;float:left;margin-right:7.14286%;display:inline}.columns-3 .profile-module .reward-first-visit:nth-child(2n),.columns-3 .profile-module .reward-punch-card:nth-child(2n){float:right;margin-right:0}.twitter-columns .profile-module{width:46.42857%;float:left;margin-right:7.14286%;display:inline}.twitter-columns .profile-module:nth-child(n+2){float:right;margin-right:0;#margin-left:-20px;display:inline}.profile-logo{width:48.25175%;float:left;margin-right:3.4965%;display:inline}.profile-summary{min-height:80px;width:48.25175%;margin-right:0;#margin-left:-20px;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;box-pack:center;display:-webkit-box;display:-moz-box;display:-ms-box;display:box;float:none}.profile-summary address{line-height:1.28571em;margin-top:.28571em;margin-bottom:.21429em}.profile-content>.profile-image{min-height:281px}.profile-content>.profile-image:before{height:281px;width:572px}.menu-navigation-list,.profile-description p{width:101%}.profile-image-pagination{height:281px}.icon-image-next,.icon-image-previous{top:119px}.profile-menu{margin-top:.5em}.menu-navigation{margin-top:-.07143em;margin-bottom:1.32143em}.menu-category:first-of-type:only-child:before{top:0}.has-images .menu-item{height:323px}.has-images .menu-item:nth-child(-n+2){margin-top:1.21429em}.menu-item-image:before{height:276px}.menu-item-info{min-height:40px}.has-images .menu-item-info{position:absolute}.has-images .menu-item:hover .menu-item-info.has-no-meta-content{height:43px;overflow:hidden}.menu-item-name{white-space:nowrap}.has-images .menu-item-name+.business-bio,.has-images .menu-item-name+.business-info-address,.has-images .menu-item-name+.menu-item-description{height:20px;white-space:nowrap}.has-images .business-bio,.has-images .business-info-address,.has-images .menu-item-description,.has-images .menu-item:hover .menu-item-name+.business-bio,.has-images .menu-item:hover .menu-item-name+.business-info-address,.has-images .menu-item:hover .menu-item-name+.menu-item-description{height:276px}.columns-2 .profile-module:before,.has-images .menu-item-variations{display:none}.columns-3 .profile-module:first-child{width:100%;float:left;margin-right:37.03704%;display:inline}.twitter-columns .profile-module:nth-child(2):before{border-top:0}.module-column{width:46.2963%;float:left;margin-right:7.40741%;display:inline}.module-column:nth-child(even){float:right;margin-right:0}.module-hours .module-column:first-of-type{width:30.12048%;float:left;margin-right:4.81928%;display:inline}.module-hours .module-column:last-of-type{width:65.06024%;float:left;margin-right:4.81928%;display:inline}.module-hours .module-column:last-of-type:last-child{float:right;margin-right:0}.twitter-columns .module-twitter{min-height:675px}}@media screen and (min-width:48em) and (max-width:63.9375em){.copyright,.footer-navigation-list,.menu-item-name{white-space:nowrap}body:after{content:"large"}.logo{display:inline-block}.wrapper{max-width:720px;padding-left:0;padding-right:0;margin-left:auto;margin-right:auto}.wrapper:after{content:"";display:table;clear:both}.footer-navigation{width:51.42857em}.business,.menu-item{width:31.52909%;float:left;margin-right:2.70636%;display:inline}.has-images .business,.has-images .menu-item{margin-top:2.5em}.business:nth-child(3n),.menu-item:nth-child(3n){float:right;margin-right:0}.business:nth-child(3n+1),.menu-item:nth-child(3n+1){clear:both}.columns-1 .profile-module{width:100%;float:left;margin-right:12.5%;display:inline}.columns-1 .profile-module:nth-child(n){float:right;margin-right:0}.columns-2 .profile-module{width:47.22222%;float:left;margin-right:5.55556%;display:inline}.columns-2 .profile-module:nth-child(even){float:right;margin-right:0}.columns-3 .profile-module{width:47.22222%;float:left;margin-right:5.55556%;display:inline}.columns-3 .profile-module:nth-child(even){float:right;margin-right:0}.columns-3 .profile-module .reward-first-visit,.columns-3 .profile-module .reward-punch-card{width:47.22222%;float:left;margin-right:5.55556%;display:inline}.columns-3 .profile-module .reward-first-visit:nth-child(2n),.columns-3 .profile-module .reward-punch-card:nth-child(2n){float:right;margin-right:0}.twitter-columns .profile-module{width:47.22222%;float:left;margin-right:5.55556%;display:inline}.profile-logo{width:48.61111%;float:left;margin-right:2.77778%;display:inline}.profile-summary{min-height:80px;width:48.61111%;margin-right:0;#margin-left:-20px;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;box-pack:center;display:-webkit-box;display:-moz-box;display:-ms-box;display:box;float:none}.columns-2 .profile-module:before,.has-images .menu-item-variations{display:none}.profile-summary address{line-height:1.28571em;margin-top:.28571em;margin-bottom:.21429em}.profile-content>.profile-image{min-height:354px}.profile-content>.profile-image:before{height:354px;width:720px}.menu-navigation-list,.profile-description p{width:100%}.profile-image-pagination{height:354px}.icon-image-next,.icon-image-previous{top:155px}.profile-menu{margin-top:.5em}.menu-category:first-of-type:only-child:before{top:-1px}.menu-category-list:first-of-type.has-images{margin-top:.64286em}.has-images .menu-item{height:272px;margin-top:2.57143em}.has-images .menu-item:nth-child(-n+3){margin-top:1.21429em}.menu-item-image:before{height:227px}.menu-item-info{min-height:40px}.has-images .menu-item-info{position:absolute}.has-images .menu-item:hover .menu-item-info.has-no-meta-content{height:43px;overflow:hidden}.has-images .menu-item-name+.business-bio,.has-images .menu-item-name+.business-info-address,.has-images .menu-item-name+.menu-item-description{height:20px;white-space:nowrap}.has-images .business-bio,.has-images .business-info-address,.has-images .menu-item-description,.has-images .menu-item:hover .menu-item-name+.business-bio,.has-images .menu-item:hover .menu-item-name+.business-info-address,.has-images .menu-item:hover .menu-item-name+.menu-item-description{height:227px}.btn-view-full-menu{padding-top:2.78571em}.columns-3 .profile-module:first-child{width:100%;float:left;margin-right:37.03704%;display:inline}.twitter-columns .profile-module:nth-child(2):before{border-top:0}.twitter-columns .profile-module:nth-child(n+2){clear:none;float:left;margin-right:0}.module-column{width:47.05882%;float:left;margin-right:5.88235%;display:inline}.module-column:nth-child(even){float:right;margin-right:0}.twitter-columns .module-twitter{min-height:675px;min-width:340px}}@media screen and (min-width:64em) and (max-width:79.9375em),screen and (min-width:64em) and (max-height:68.6875em){.copyright,.footer-navigation-list,.menu-item-name{white-space:nowrap}body:after{content:"xlarge"}.logo{display:inline-block}.wrapper{max-width:868px;padding-left:0;padding-right:0;margin-left:auto;margin-right:auto}.wrapper:after{content:"";display:table;clear:both}.footer-navigation{width:62em}.business,.menu-item{width:31.7983%;float:left;margin-right:2.30256%;display:inline}.has-images .business,.has-images .menu-item{margin-top:2.5em}.business:nth-child(3n),.menu-item:nth-child(3n){float:right;margin-right:0}.business:nth-child(3n+1),.menu-item:nth-child(3n+1){clear:both}.columns-1 .profile-module{width:100%;float:left;margin-right:11.76471%;display:inline}.columns-1 .profile-module:nth-child(1n){float:right;margin-right:0}.columns-2 .profile-module{width:47.67442%;float:left;margin-right:4.65116%;display:inline}.columns-2 .profile-module:nth-child(2n){float:right;margin-right:0}.columns-3 .profile-module{width:47.67442%;float:left;margin-right:4.65116%;display:inline}.columns-3 .profile-module:nth-child(even){float:right;margin-right:0}.columns-3 .profile-module .reward-first-visit,.columns-3 .profile-module .reward-punch-card{width:47.67442%;float:left;margin-right:4.65116%;display:inline}.columns-3 .profile-module .reward-first-visit:nth-child(2n),.columns-3 .profile-module .reward-punch-card:nth-child(2n){float:right;margin-right:0}.twitter-columns .profile-module{width:47.67442%;float:left;margin-right:4.65116%;display:inline}.profile-logo{width:48.84793%;float:left;margin-right:2.30415%;display:inline}.profile-summary{min-height:80px;width:48.84793%;margin-right:0;#margin-left:-20px;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;box-pack:center;display:-webkit-box;display:-moz-box;display:-ms-box;display:box;float:none}.profile-summary address{line-height:1.28571em;margin-top:.28571em;margin-bottom:.21429em}.profile-content>.profile-image{min-height:427px}.profile-content>.profile-image:before{height:427px;width:868px}.menu-navigation-list,.profile-description p{width:86%}.profile-image-pagination{height:427px}.icon-image-next,.icon-image-previous{top:192px}.profile-menu{margin-top:.5em}.menu-category:first-of-type:only-child:before{top:-1px}.has-images .menu-item{height:323px}.has-images .menu-item:nth-child(-n+3){margin-top:1.21429em}.menu-item-image:before{height:276px}.menu-item-info{min-height:40px}.has-images .menu-item-info{position:absolute}.has-images .menu-item:hover .menu-item-info.has-no-meta-content{height:43px;overflow:hidden}.has-images .menu-item-name+.business-bio,.has-images .menu-item-name+.business-info-address,.has-images .menu-item-name+.menu-item-description{height:20px;white-space:nowrap}.has-images .business-bio,.has-images .business-info-address,.has-images .menu-item-description,.has-images .menu-item:hover .menu-item-name+.business-bio,.has-images .menu-item:hover .menu-item-name+.business-info-address,.has-images .menu-item:hover .menu-item-name+.menu-item-description{height:276px}.columns-2 .profile-module:before,.has-images .menu-item-variations{display:none}.columns-3 .profile-module:first-child{width:100%;float:left;margin-right:37.03704%;display:inline}.twitter-columns .profile-module:nth-child(2):before{border-top:0}.twitter-columns .profile-module:nth-child(n+2){clear:none;float:left;margin-right:0}.module-column{width:47.56098%;float:left;margin-right:4.87805%;display:inline}.module-column:nth-child(even){float:right;margin-right:0}.twitter-columns .module-twitter{min-height:675px;min-width:413px}}@media screen and (min-width:80em) and (min-height:68.75em){.copyright,.footer-navigation-list,.menu-item-name{white-space:nowrap}.profile-module,.twitter-columns .profile-module:nth-child(2){padding-top:0}body:after{content:"xxlarge"}.logo{display:inline-block}.wrapper{max-width:1164px;padding-left:0;padding-right:0;margin-left:auto;margin-right:auto}.wrapper:after{content:"";display:table;clear:both}.footer-navigation{width:83.14286em}.business,.menu-item{width:23.71223%;float:left;margin-right:1.71703%;display:inline}.has-images .business,.has-images .menu-item{margin-top:2.5em}.business:nth-child(4n),.menu-item:nth-child(4n){float:right;margin-right:0}.business:nth-child(4n+1),.menu-item:nth-child(4n+1){clear:both}.columns-1 .profile-module{width:100%;float:left;margin-right:11.76471%;display:inline}.columns-1 .profile-module:nth-child(1n){float:right;margin-right:0}.columns-2 .profile-module{width:48.27586%;float:left;margin-right:3.44828%;display:inline}.columns-2 .profile-module:nth-child(2n){float:right;margin-right:0}.columns-3 .profile-module{width:30.90909%;float:left;margin-right:3.63636%;display:inline}.columns-3 .profile-module:nth-child(3n){float:right;margin-right:0}.twitter-columns .profile-module{width:48.27586%;float:left;margin-right:3.44828%;display:inline}.profile-logo{width:61.85567%;float:left;margin-right:1.71821%;display:inline}.profile-summary{min-height:80px;width:36.42612%;margin-right:0;#margin-left:-20px;-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-box-orient:vertical;box-orient:vertical;-webkit-box-pack:center;-moz-box-pack:center;-ms-box-pack:center;box-pack:center;display:-webkit-box;display:-moz-box;display:-ms-box;display:box;float:none}.columns-2 .profile-module:before,.columns-3 .profile-module:before,.has-images .menu-item-variations{display:none}.profile-summary address{line-height:1.28571em;margin-top:.28571em;margin-bottom:.21429em}.profile-content>.profile-image{min-height:572px}.profile-content>.profile-image:before{height:572px;width:1164px}.menu-navigation-list,.profile-description p{width:75%}.profile-image-pagination{height:572px}.icon-image-next,.icon-image-previous{top:264px}.profile-menu{margin-top:.5em}.menu-category:first-of-type:only-child:before{top:-1px}.has-images .menu-item{height:323px}.has-images .menu-item:nth-child(-n+4){margin-top:1.21429em}.menu-item-image:before{height:276px}.menu-item-info{min-height:40px}.has-images .menu-item-info{position:absolute}.has-images .menu-item:hover .menu-item-info.has-no-meta-content{height:43px;overflow:hidden}.has-images .menu-item-name+.business-bio,.has-images .menu-item-name+.business-info-address,.has-images .menu-item-name+.menu-item-description{height:20px;white-space:nowrap}.has-images .business-bio,.has-images .business-info-address,.has-images .menu-item-description,.has-images .menu-item:hover .menu-item-name+.business-bio,.has-images .menu-item:hover .menu-item-name+.business-info-address,.has-images .menu-item:hover .menu-item-name+.menu-item-description{height:276px}.twitter-columns .profile-module:nth-child(2):before{border-top:0}.twitter-columns .profile-module:nth-child(n+2){clear:none;float:left;margin-right:0}.twitter-columns .profile-module:nth-child(n+5){clear:both}.module-column{width:47.64151%;float:left;margin-right:4.71698%;display:inline}.module-column:last-child{float:right;margin-right:0}.twitter-columns .module-twitter{min-height:675px;min-width:561px}}@media screen and (-webkit-min-device-pixel-ratio:1.5),screen and (min-resolution:144dpi){.logo:after{background:url(/assets/sprites/directory-icons-hidpi-sprite.png) no-repeat;background-size:84px auto;height:26px;width:84px}.logo h1{background:url(/assets/sprites/directory-icons-hidpi-sprite.png) 0 -146px no-repeat;background-size:84px auto;height:30px;width:30px}.icon-square-footer{background:url(/assets/sprites/directory-icons-hidpi-sprite.png) 0 -176px no-repeat;background-size:84px auto;height:22px;width:22px}.icon-twitter{background:url(/assets/sprites/profile-icons-hidpi-sprite.png) 0 -42px no-repeat;background-size:42px auto;height:40px;width:40px}.icon-facebook{background:url(/assets/sprites/profile-icons-hidpi-sprite.png) 0 -82px no-repeat;background-size:42px auto;height:40px;width:40px}.icon-image-previous{background:url(/assets/sprites/profile-icons-hidpi-sprite.png) 0 -190px no-repeat;background-size:42px auto;height:44px;width:25px}.icon-image-next{background:url(/assets/sprites/profile-icons-hidpi-sprite.png) 0 -234px no-repeat;background-size:42px auto;height:44px;width:25px}.profile-image-dot{background:url(/assets/sprites/profile-icons-hidpi-sprite.png) 0 -287px no-repeat;background-size:42px auto;height:9px;width:9px}.profile-image-dot.current,.profile-image-dot:focus,.profile-image-dot:hover{background:url(/assets/sprites/profile-icons-hidpi-sprite.png) 0 -296px no-repeat;background-size:42px auto;height:9px;width:9px}.image-error:before,.menu-item-image.image-error:before{background-image:url(/assets/public/broken-image-hidpi.png);background-size:36px auto}.icon-left-arrow{background:url(/assets/sprites/directory-icons-hidpi-sprite.png) 0 -268px no-repeat;background-size:84px auto;height:12px;width:8px}.icon-right-arrow{background:url(/assets/sprites/directory-icons-hidpi-sprite.png) 0 -256px no-repeat;background-size:84px auto;height:12px;width:8px}}.sociallogo{height:30px;margin-bottom:5px}@media only screen and (max-width:29.9375em){.nav_item{padding-top:5px;padding-bottom:5px}}
@import url(https://fonts.googleapis.com/css?family=Roboto:900,700,500,400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(extends.css);
@import url(shadows.css);

.class {
	/*position:relative;
	top: 50%;
	width: 24cm;
	margin: 0 auto;
	borger-right: 2px solid rgba(255, 127, 80, 1);
	font-size: 220%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;transform: translateY(-50%);*/
	font-family: 'Anonymous Pro', monospace;
}
/*
.anim-typewriter {
	animation: typewriter 4s steps(40) 1s 1 normal both,
	blinkTextCursor 250ms steps(40) infinite normal;
}

@keyframes typewriter{
	from {
			width: 0;
	}
	to {
			width; 24cm;
	}
}

@keyframes blinkTextCursor{
	from{
		border-right-color: rgba(255, 127, 80, 1);
	}
	to {
		border-right-color: transparent;
	}
}
*/
body button.color {
	z-index: 2;
	transition: box-shadow 0.2s ease-out !important;
}

label, label > b, a.disabled, a#button > b {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}


body img {
	width: 100%;
	display: block;
}


body input.hide {
	display: none;
}

body a.round {
	background: #fff;
	border-radius: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

body .clearfix {
	clear: both;
	width: 100%;
	height: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	display: block;
}

body .line24 {
	line-height: 24px;
}

body .prewrap {
	white-space: pre-wrap;
}

body .transparent95 {
	background: rgba(255, 255, 255, 0.95) !important;
}

body > div#navbar {
	position: fixed;
	z-index: 3;
	height: 48px;
	width: 100%;
	top: -10px;
	left: -1px;
	right: -1px;
	background: #fff;
	border-bottom: none !important;
	transition: height 0.2s ease-out;
}

body > div#navbar > div#nav {
	width: 300px;
	margin-left: -300px;
	background: #fff;
	height: 100%;
	z-index: 4;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow: auto;
	font-weight: 500;
	transition: margin-left 0.2s ease-out, box-shadow 0.2s ease-out, width 0.2s ease-out;
}

body > div#navbar > div#nav > div {
	border-bottom: 1px solid #eee;
	padding-bottom: 8px;
}

body > div#navbar > div#nav > div:last-child {
	border-bottom: none;
}

body > div#navbar > div#nav > div > a {
	padding: 13px 16px 13px 16px;
	background: #fff;
	transition: background 0.2s ease-out, padding-left 0.2s ease-out, padding-right 0.2s ease-out;
	display: block;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.87);
}

body > div#navbar > div#nav > div > a:hover {
	background: #eee;
}

body > div#navbar > div#nav > div > a.subheader {
	background: #fff;
	opacity: 0.54;
}

body > div#navbar > div#nav > div > a > svg {
	opacity: 0.54;
	display: block;
	width: 24px;
	float: left;
	margin-right: 32px;
	transform: translateY(-2px);
}

body > div#navbar > div#nav > label {
	color: #fff;
	position: relative;
	z-index: 2;
	display: block;
	overflow: auto;
	padding-bottom: 8px;
	padding-top: 8px;
}

body > div#navbar > div#nav > label > a {
	float: left;
	display: block;
	margin: 16px 0 8px 16px;
	transition: margin 0.2s ease-out;
	width: 64px;
	height: 64px;
}

body > div#navbar > div#nav > label > div {
	padding: 12px 20px 4px 16px;
	transition: padding 0.2s ease-out;
	line-height: 12px;
	clear: both;
}

body > div#navbar > div#nav > label > div:last-child {
	padding-top: 4px;
	padding-bottom: 12px;
	font-weight: 400;
}

body > div#navbar > div#nav > label > div > b {
	float: right;
	display: block;
	transform: rotate(45deg);
	font-size: 10px;
	transition: transform 0.2s ease-out;
}

body > div#navbar > div#nav > div > a#current {
	background: #eee !important;
}

body > div#navbar > div#nav > div#extended {
	margin-top: -100px;
	border-bottom: none;
	transition: margin-top 0.2s ease-out, opacity 0.2s ease-out;
	opacity: 0;
	position: relative;
	z-index: 1;
}

body > div#navbar > div#nav > input#extendnav:checked ~ div#extended {
	margin-top: 0;
	opacity: 1;
}

body > div#navbar > div#nav > input#extendnav:checked ~ div#extended {
	border-bottom: 1px solid #eee;
}

body > div#navbar > div#nav > input#extendnav:checked ~ label > div > b {
	transform: rotate(225deg) translate(-1px, -1px);
}

body > div#navbar > a#open {
	position: relative; 
	height: 56px;
	cursor: pointer;
	display: flex;
	align-items: center;
	float: left;
}

body > div#navbar > a#open > div {
	padding: 0 20px;
	transform: scaleY(0.7);
	font-size: 24px;
	font-weight: bold;
}

body > div#navbar > div#title {
	height: 56px;
	display: flex;
	align-items: center;
	font-size: 20px;
	float: left;
	transition: margin 0.2s ease-out;
}

body > div#navbar label.btn {
	font-size: 28px;
	position: relative;
	height: 56px;
	display: flex;
	align-items: center;
	float: right;
	padding: 0 24px;
	transition: margin 0.2s ease-out;
}

body > div#navbar label.btn > b {
	transform: rotate(-45deg);
	display: block;
}

body > div#navbar > form {
	width: 100%;
	position: absolute;
	bottom: 0;
	top: 100%;
}

body > div#navbar > form > input {
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 24px;
	width: 0;
	padding: 8px 0;
	margin: 8px 32px;
	border-radius: 2px;
	font-size: 16px;
	background: #fff;
	border: none;
	z-index: 2;
}

body > div#navbar > form > input::-webkit-input-placeholder {
	color: #fff;
	transition: color 0.2s ease-out;
}

body > div#navbar > form > input:focus {
	height: 24px;
	width: calc(100% - 68px);
	padding: 8px 40px 8px 12px;
	margin: 8px;
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.4);
	transition: all 0.2s ease-out;
}

body > div#navbar > form > input:focus::-webkit-input-placeholder {
	color: #6b6b6b;
	font-family: Roboto;
}

body > div#navbar > form > label.btn {
	position: absolute;
	z-index: 3;
	right: 0;
	bottom: 0;
	padding-left: 0;
	display: none;
	color: rgba(64, 64, 64, 0.75);
	height: 56px;
}

body > div#navbar > form > input:focus ~ label.btn {
	display: flex;
}

body > div#navbar:target > div#nav {
	margin-left: 0;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

body > div#navbar:target > a#close > div {
	width: 100vw;
	left: 0;
	top: 0;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	transition: background 0.2s ease-out;
	position: fixed;
	z-index: 3;
}

body > div#content {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 2560px;
	background: #fff;
	margin-left: 0;
	margin-top: 56px;
	
	column-gap: 0;
	-moz-column-gap: 0;
	line-height: 0;

	transition: all 0.2s ease-out;
}

body > div#content > div {
	width: 100%;
	transition: width 0.5s ease-out;
}

body > div#content > div > div {
	background: #fff;
	width: 100%;
	border-radius: 0;
	margin: 0;
	border-bottom: 1px solid #eee;
	transition: all 0.2s ease-out;
	overflow: hidden;
	page-break-inside: avoid;
	line-height: 20px;
	display: inline-block;
}

body > div#content > div > div p {
	clear: both;
	margin: 0;
	padding: 16px;
	transition: background 0.5s ease-out;
}

body > div#content > div > div > div..center {
	text-align: center;
	display:inline-block;
}

body > div#content > div > div p.grey {
	background: rgba(153, 153, 153, 0.1);
}

body > div#content > div > div p:active {
	background: rgba(153, 153, 153, 0.2) !important;
}

body .action {
	margin: 8px 0 8px 8px;
	border-radius: 2px;
	padding: 8px;
	transition: background 0.2s ease-out;
	font-weight: 500;
	display: inline-block;
	cursor: pointer;
}

body .action:hover {
	background: rgba(153, 153, 153, 0.2);
}

body .action:active {
	background: rgba(153, 153, 153, 0.4);
}

body .disabled {
	color: rgba(0, 0, 0, 0.26) !important;
	cursor: pointer;
}

body > div#content > div > div > a.round {
	float: left;
	width: 40px;
	height: 40px;
	margin: 16px 0 16px 16px;
	display: block;
}

body > div#content > div > div > div.text {
	float: left;
	margin: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
}

body > div#content > div > div > div.text > b {
	color: rgba(0, 0, 0, 0.7);
}

body > div#content > div > div > label {
	width: 100%;
	overflow: hidden;
	display: block;
	color: rgba(0, 0, 0, 0.75);
	font-weight: 500;
	transition: max-height 0.2s ease-out, background 0.2s ease-out;
	max-height: 100px;
}

body > div#content > div > div > label:hover {
	background: rgba(153, 153, 153, 0.2);
}

body > div#content > div > div > div.collapse {
	max-height: 0;
	overflow: hidden;
	width: 100%;
	opacity: 0;
	transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

@keyframes toastdiv {
	0% { bottom: -48px; color: rgba(0,0,0,0); }
	10% { bottom: 0; }
	20% { color: #fff; }
	90% { bottom: 0; color: #fff; }
	100% { bottom: -48px; color: rgba(0,0,0,0); }
}

@keyframes toastdiva {
	0% { opacity: 0; }
	20% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}

body > div#toast {
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 3;
	background: #323232;
	position: fixed;
	padding: 14px 24px;
	min-width: 240px;
	max-width: 520px;
	bottom: -48px;
	color: rgba(0,0,0,0);
	transition: all 0.2s ease-out;
}

body > div#toast > a {
	float: right;
	display: block;
	border-radius: 2px;
	font-weight: 500;
	padding: 8px 12px;
	margin: -8px -12px -8px 12px;
}

body > div#toast:target {
	animation-name: toastdiv;
	animation-duration: 5s;
}

body > div#toast:target > a {
	animation-name: toastdiva;
	animation-duration: 5s;
}

@media screen and (min-width: 500px) {
	body > div#navbar > div#nav {
		width: 320px;
		margin-left: -320px;
	}

	body > div#navbar > div#nav > label > a {
		margin: 24px 0 12px 24px;
	}

	body > div#navbar > div#nav > label > div {
		padding-left: 24px;
		padding-right: 28px;
	}

	body > div#navbar > div#nav > div > a {
		padding-left: 24px;
		padding-right: 24px;
	}

	body > div#content {
		width: calc(100% - 32px);
		margin-top: 72px;
		margin-left: 16px;
		background: none;
		height: 0;
	}
	
	body > div#content > div > div {
		margin-bottom: 16px;
		border-radius: 8px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		border-bottom: none;
	}

	body > div#content > div > div:hover {
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	}

	body > div#toast {
		border-radius: 2px;
		box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
	}

	body > div#toast > a {
		margin-left: 36px;
	}
}

@media screen and (min-width: 750px) {
	body > div#content {
		width: 80%;
		margin-left: 10%;
	}
}

@media screen and (min-width: 1000px) {
	body > div#content {
		width: 60%;
		margin-left: 20%;
	}
}

@media screen and (min-height: 720px) {
	body > div#navbar {
		height: 112px;
	}

	body > div#navbar > div#title {
		margin-top: 56px;
		margin-left: -40px;
	}

	body > div#navbar label.btn {
		margin-top: 56px;
	}

	body > div#content {
		margin-top: 112px;
	}
}

@media screen and (min-height: 720px) and (min-width: 500px) {
	body > div#content {
		margin-top: 128px;
	}
}