body {
    font-size: 40px;
}

#header {
	position: fixed;
	margin: 0;
	font-size: 3.141592em;
	display: inline;
}

@media print {
	#header {
		position: absolute;
	}
}

#header .Ï€ {
    font-size: 3em;
    line-height: 0.5em;
}

#footer {
	position: fixed;
	bottom: 1em;
	right: 1em;
	font-size: 0.5em;
}

#digits {
	padding-left: 10.1em;
	padding-top: 4.7em;
	list-style: none;
}
.digit:after {
	content: attr(data-explanation);
	margin-left: 1em;
	font-size: 0.5em;
	display: inline-block;
}

.digit:before    {
    content: attr(data-num-digits);
    width: 10em;
    position: absolute;
    left: -11em;
    text-align: right;
    font-size: 0.5em;
    padding-right: 15em;
    bottom: 0;
    opacity: 0.3;
    border-bottom: 1px solid #888
}

.digit {
    position: relative;
}

.explanation {
	position: absolute;
}
@media screen and (max-width: 700px) {
	body {
		font-size: 20px;
	}
	#header {
		font-size: 1.57em;
	}
}
